@page "/"

<PageTitle>Welcome page</PageTitle>

<MudContainer>
    <MudPaper Elevation="1">
        <div style="display: flex; justify-content: center;">
            <MudImage Src="Gunvor_Logo.svg" Class="rounded filter-shadow" Alt="GunvorCopilot Logo" Width="100" Height="100" Elevation="0" />
        </div>

        <MudText Typo="Typo.h2" Align="Align.Center">Welcome to GunvorCopilot</MudText>
    </MudPaper>
    <MudPaper Elevation="1">
    </MudPaper>
</MudContainer>
